.people-search { margin: 0 auto; max-width: 80%; }
.people-search .loader { display: block; margin: 3em auto 0; text-align: center; }

.people-search-form { align-items: flex-end; display: flex; flex-direction: row; }
.people-search-form-input-field { flex: auto; padding: 0 .5em; }
.people-search-form-input-field input { border: var(--border-color) solid 1px; border-radius: 2px; padding: .5em 0; text-indent: .5em; }
.people-search-form-input-field label { padding-right: .5em; }
.people-search-form-input-field.error input { border: #ff0000 solid 1px; }

.people-search-results { border: var(--border-color) solid 1px; border-radius: 5px; margin-top: 1em; padding: 0; }
.people-search-result { border-bottom: var(--border-color) solid 1px; padding: 1em; }
.people-search-result:last-child { border: none; }
.people-search-result-data li:first-child { font-size: 1.1em; font-weight: 500; }
.people-search-result-data { list-style: none; margin: 0; padding: 0; }

.people-search-no-results { text-align: center; padding: 2em 0; }

@media only screen and (max-width: 560px) {
    .people-search-form { display: block; flex-direction: column; }
    .people-search-form-input-field { flex: none; padding: 0; }
    .people-search-form-input-field label { display: block; padding: .2em 0; }
    .people-search-form-input-field input { width: 100%; }
    .people-search-form .btn-primary { margin-top: 1em; width: 100%; }
}
