:root {
    --border-color: #ccc
}

body { font-size: 16px; line-height: 1.5; margin: 0; font-family: 'Roboto', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.btn { border: none; border-radius: 2px; cursor: pointer; padding: .6em; }
.btn-primary { background: #70787F; color: #fff; }

.transform-uppercase { text-transform: uppercase;; }

::-webkit-input-placeholder { text-transform: none; }
:-moz-placeholder { text-transform: none; }
::-moz-placeholder { text-transform: none; }
:-ms-input-placeholder { text-transform: none; }
::placeholder { text-transform: none; }
